body {
  background-image: url("../src/images/671822c2f63dd5f65d8fd15c9710420b.jpeg");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.nav {
  width: 100%;
  min-height: 75px;
  background-color: rgba(37, 37, 37, 0.705);
  border-bottom: 2px solid whitesmoke;
  display: flex;
  padding: 5px
}
.head{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: whitesmoke;
  text-decoration: underline;
  margin-left: 5px;
}

.form{
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}

.bookDisplay{
  margin-top: 10px;
  padding: 5px;
  width: 85%;
}

.link {
  margin-top: 3px;
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
  
}

.card{
  background-color: rgba(37, 37, 37, 0.63);
  color: whitesmoke;
  border: 2px solid whitesmoke;
}

a{
  text-decoration: none;
}

p {
  color: rgba(245, 245, 245, 0.767);
}





